//
   Created by Carlis on 6/15/15.
doctype html
html
    head
        title= title
        meta(charset='utf-8')
        meta(name='keywords', content="刘雨萌,刘雨萌的博客,Carlis,Carlis个人博客,个人博客,博客")
        meta(name='description', content="Carlis个人博客")
        meta(name='viewport', content="width=device-width, minimum-scale=1.0, maximum-scale=1.0")
        <!--[if lt IE 9]>
        script.
            (function(){
                window.location.href = '/upgrade-browser';
            })();
        <![endif]-->
        link(rel='stylesheet', href='http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.no-icons.min.css', type='text/css')
        link(rel='stylesheet', href='http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-responsive.min.css', type='text/css')
        link(rel='stylesheet', href='http://netdna.bootstrapcdn.com/font-awesome/3.0.2/css/font-awesome.css', type='text/css')
        link(rel='stylesheet', href='/stylesheets/admin/index.css', type='text/css')
    body
        form
            div.container
                div.hero-unit
                    div.control-group
                        label.control-label(for='article-title') Title
                        div.controls
                            input.span6(type='text',name='article-title',id='article-title', placeholder='Enter title')
                    div.control-group
                        label.control-label(for='article-category') Category
                        div.controls
                            select.span3(name='article-category',id='article-category')
                                option(value='') Choose
                                each item, index in category
                                    option(value='#{item.name}') #{item.name}
                    div.control-group
                        label.control-label(for='article-classification') Classification
                        div.controls
                            select.span3(name='article-classification',id='article-classification')
                                option(value='') Choose
                                option(value='1') Latest
                                option(value='0') Recommended
                    div.control-group
                        label.control-label(for='article-tag') Tag
                        div.controls
                            input.span6(type='text',name='article-tag',id='article-tag', placeholder='Enter tag')
                    hr
                    div(id='alerts')
                    textarea(id='editor',style="width:100%;")
                    div(style='margin-top:10px;')
                        button.btn(type='button', data-action='submit') Save
                        button.btn.btn-primary(type='button' style='margin-left:5px;', data-action='submit',data-action-code='1') Save&Publish
        script(src='/javascripts/sea-modules/seajs/seajs/3.0.0/sea.js')
        script.
            (function(golbal, undefined){
                seajs.config({
                    base: '/javascripts/',
                    alias: {
                        'jquery': 'sea-modules/jquery/jquery/1.10.1/jquery.js',
                        'bootstrap': 'sea-modules/bootstrap/2.3.1/bootstrap.js',
                        'article': 'static/admin/article/article',
                        'util': 'static/common/util'
                    }
                });
                seajs.use(['jquery', 'bootstrap', 'article'], function($, b, A){
                    $(function(){
                        $('button[data-action=submit]').click(function(e){
                            e.preventDefault();
                            var title = $.trim($('#article-title').val()),
                                category = $.trim($('#article-category').val()),
                                tag = $.trim($('#article-tag').val()),
                                classification = $.trim($('#article-classification').val()),
                                editor = $('#editor');
                                content = editor.val(),
                                brief = $('<div>').append(content).text(),
                                published = $(this).attr('data-action-code') ? true : false,
                                article;
                            if ( title && category && content) {
                                var article = {
                                    title: title,
                                    category: category,
                                    content: content,
                                    tag: tag,
                                    brief: brief,
                                    classification: classification,
                                    published: published
                                };
                                (new A('.container')).save(article);
                            }
                        });
                    });
                });
            })(window);
