//
   Created by Carlis on 7/13/15.
html
    head
        title= title
        meta(charset='utf-8')
        meta(name='keywords', content="刘雨萌,刘雨萌的博客,Carlis,Carlis个人博客,个人博客,博客")
        meta(name='description', content="Carlis个人博客")
        meta(name='viewport', content="width=device-width, minimum-scale=1.0, maximum-scale=1.0")
        <!--[if lt IE 9]>
        script.
            (function(){
                window.location.href = '/upgrade-browser';
            })();
        <![endif]-->
    body
        form(action='/admin/verification.html', method='post')
            label(for='identification') Verification Code:
            input(type='text', id='identification', name='identification', style='width:100px;')
            input(type='submit')