//
   Created by Carlis on 7/10/15.

doctype html
html
    head
        title= title
        meta(charset='utf-8')
        meta(name='keywords', content="刘雨萌,刘雨萌的博客,Carlis,Carlis个人博客,个人博客,博客")
        meta(name='description', content="Carlis个人博客")
        meta(name='viewport', content="width=device-width, minimum-scale=1.0, maximum-scale=1.0")
        script(src='/javascripts/sea-modules/seajs/seajs/3.0.0/sea.js')
        script.
            (function(golbal, undefined){
                seajs.config({
                    base: '/javascripts/',
                    alias: {
                        'jquery': 'sea-modules/jquery/jquery/1.10.1/jquery.js'
                    }
                });
                golbal.seajs = seajs;
            })(window);
    body
        h1='File Uoload Page'
        form(action='/admin/upload/image', method="post", enctype="multipart/form-data" )
            input(type="file", id="file-upload", name="file-upload")
            br
            button(type="submit", id="upload-file", name="upload-file") upload
            br
            input(type="file", id="file-upload-ajax", name="file-upload-ajax")
            button(type="submit", id="upload-file-ajax", name="upload-file-ajax") ajaxUpload
        script.
            (function(){
                seajs.use('jquery', function($){
                    $('#upload-file-ajax').click(function(){
                        var data = new FormData();
                        var files = $('#file-upload-ajax')[0].files;
                        if (files) {
                            data.append('file', files[0]);
                        }
                        $.ajax({
                            type: 'post',
                            dataType: 'json',
                            url: '/admin/upload/image',
                            data: data,
                            contentType: false,
                            processData: false
                        }).done(function(data){
                            console.log('uploaded');
                        });
                        return false;
                    });
                });
            })();
