//
   Created by Carlis on 5/26/15.
extends layout
append css
    link(rel='stylesheet', href='/stylesheets/admin/style.css')
    link(rel='stylesheet', href='/stylesheets/admin/form-style.css')
block content-main
    div.closed(aria-hidden='false',style='position: relative;',id='nav',role='navigation')
        ul
            li.active
                a(href='#category') Category
            li
                a(href='#article') Articles
            li
                a(href='#share') Share
    div.main(role='main')
        a(href='#nav', id='toggle',aria-hidden='true') Menu
        div.content
            div.col-xs-12(id='category')
                div.box
                    div.box-head
                        h3='Category'
                    div.box-content
                        div(id='category-tip-container')
                        div.alert.alert-info.alert-block
                            a.close(data-dismiss='alert',href='#') x
                            h4.alert-heading Information!
                            | The part is for category, add article's category by specifying its name.
                        form(action='#', id='category-form')
                            div.form-group
                                label.control-label.label-size(for='category-name') Category
                                input.form-control(type='text',name='category-name',id='category-name', data-key= 'name',placeholder="Enter category")
                            div.form-group
                                label.control-label.label-size(for='category-memo') Memo
                                input.form-control(type='text',name='category-memo',id='category-memo',data-key= 'memo',placeholder="Enter memo")
                            button.btn.btn-default(id='category-save') Save
                            div.table-holder
                                table.table.table-bordered
                                    thead
                                        tr
                                            th Category Name
                                            th Memo
                                            th Action
                                    tbody
                                nav
                                    ul.pagination
                                        li
                                            a(href='#',aria-label='Previous')
                                                span(aria-hidden='true') &laquo;
                                        li
                                            a(href='#') 1
                                        li
                                            a(href='#') 2
                                        li
                                            a(href='#') 3
                                        li
                                            a(href='#') 4
                                        li
                                            a(href='#',aria-label='Next')
                                                span(aria-hidden='true') &raquo;
            div.col-xs-12(id='article')
                div.box
                    div.box-head
                        h3='Articles'
                    div.box-content
                        div.alert.alert-info.alert-block
                            a.close(data-dismiss='alert',href='#') x
                            h4.alert-heading Information!
                            | Add an article by clicking the `Create` button, manage articles from the grid.
                        form(action='#')
                            button.btn.btn-default(id='create-article') Create
                            div.table-holder
                                table.table.table-bordered
                                    thead
                                        tr
                                            th Title
                                            th Category
                                            th Tag
                                            th Action
                                    tbody
                                        tr
                                            td Express - 新手指南 Express - 新手指南 Express - 新手指南 Express - 新手指南
                                            td Nodejs
                                            td nodejs javascript
                                            td
                                                div.btn-group.btn-group-xs
                                                    button.btn.btn-default(type='button') Edit
                                                    button.btn.btn-primary(type='button') Publish
                                                    button.btn.btn-danger(type='button') Remove
                                nav
                                    ul.pagination
                                        li
                                            a(href='#',aria-label='Previous')
                                                span(aria-hidden='true') &laquo;
                                        li
                                            a(href='#') 1
                                        li
                                            a(href='#') 2
                                        li
                                            a(href='#') 3
                                        li
                                            a(href='#') 4
                                        li
                                            a(href='#',aria-label='Next')
                                                span(aria-hidden='true') &raquo;
            div.col-xs-12(id='share')
                div.box
                    div.box-head
                        h3='Share'
                    div.box-content
                        div.alert.alert-info.alert-block
                            a.close(data-dismiss='alert',href='#') x
                            h4.alert-heading Information!
                            | The input-elements have square corners. Of course the bootstrap rounded-corners style is also available!
                        form(action='#')
                            div.form-group
                                label.control-label.label-size(for='category-name') Title
                                input.form-control(type='text',name='category-name',id='category-name',placeholder="Enter title")
                            div.form-group
                                label.control-label.label-size(for='category-memo') Link
                                input.form-control(type='text',name='category-memo',id='category-memo',placeholder="Enter link")
                            button.btn.btn-default Save
                            div.table-holder
                                table.table.table-bordered
                                    thead
                                        tr
                                            th #
                                            th #
                                            th #
                                            th Action
                                    tbody
                                        tr
                                            td 1
                                            td 1
                                            td 1
                                            td
                                                div.btn-group.btn-group-xs
                                                    button.btn.btn-default(type='button') Edit
                                                    button.btn.btn-primary(type='button') Publish
                                                    button.btn.btn-danger(type='button') Remove
                                nav
                                    ul.pagination
                                        li
                                            a(href='#',aria-label='Previous')
                                                span(aria-hidden='true') &laquo;
                                        li
                                            a(href='#') 1
                                        li
                                            a(href='#') 2
                                        li
                                            a(href='#') 3
                                        li
                                            a(href='#') 4
                                        li
                                            a(href='#',aria-label='Next')
                                                span(aria-hidden='true') &raquo;
block script-content
    script(type='x-template/category', id='category-template').
        <tr id="{_id}">
            <td>{name}</td>
            <td>{memo}</td>
            <td>
                <div class="btn-group btn-group-xs">
                    <button type="button" class="btn btn-default">Edit</button>
                    <button type="button" class="btn btn-danger">Remove</button>
                </div>
            </td>
        </tr>
    script.
        seajs.use(['bootstrap', 'responsive'], function($, responsiveNav){
            $(function(){
                var navigation = responsiveNav("#nav", {customToggle: "#toggle"});
                $('#nav').on('click', 'ul li a', function(e){
                    $(this).parent().addClass('active').siblings().removeClass('active');
                });
            });
        });
        seajs.use('static/admin/category/event');
        seajs.use('static/admin/article/event');