//
   Created by Carlis on 5/26/15.
doctype html
html
    head
        title= title
        meta(charset='utf-8')
        meta(name='keywords', content="刘雨萌,刘雨萌的博客,Carlis,Carlis个人博客,个人博客,博客")
        meta(name='description', content="Carlis个人博客")
        meta(name='viewport', content="width=device-width, minimum-scale=1.0, maximum-scale=1.0")
        block css
            link(rel='stylesheet', href='http://cdn.bootcss.com/bootstrap/3.3.4/css/bootstrap.min.css')
            link(rel='stylesheet', href='/stylesheets/responsive/1.0.39/responsive-nav.css')
        <!--[if lt IE 9]>
        script.
            (function(){
                window.location.href = '/upgrade-browser';
            })();
        <![endif]-->
        script(src='/javascripts/sea-modules/seajs/seajs/3.0.0/sea.js')
        script.
            (function(golbal, undefined){
                seajs.config({
                    base: '/javascripts/',
                    alias: {
                        'jquery': 'sea-modules/jquery/jquery/1.10.1/jquery.js',
                        'responsive': 'admin/responsive/1.0.39/responsive-nav.min.js',
                        //'bootstrap': 'http://cdn.bootcss.com/bootstrap/3.3.4/js/bootstrap.min.js'
                        'bootstrap': 'sea-modules/bootstrap/3.3.4/bootstrap.js'
                    }
                });
                golbal.seajs = seajs;
            })(window);
    body
        block content-main
        block script-content