extends layout
append css
    link(rel='stylesheet', href='/stylesheets/about.css',type='text/css')
block content-article
    article
        h3.about_h 您现在的位置是：
            a(href='/') 首页
            | >
            a(href='/about.html') 关于我
        div.about
            h2 About job
            ul
                p  对现在的工作少了一份激情，感兴趣的朋友可以点击
                    -var url = '/download/resume?_r=' + new Date().getTime();
                    a(title='简历下载', href='#{url}', target='_blank') 【简历下载】
                    | ,非诚勿扰。
            h2 About me
            ul
                p 人生就是一个得与失的过程，而我却是一个幸运者，得到的永远比失去的多。
                img(src='#{contactInfo}', style='width:120px; height:120px;')
            h2 About my blog
            ul.blog_a
                p 博客最初是出于个人工作需要而创建的，主要记录自己平时的一些学习笔记及心得，也会分享一些自己感觉不错的东西。
                p 目前博客的各个模块仍在建设中，风格略显女性化。
                p 在此要感谢博客的模板提供者-
                    a(href='http://www.yangqq.com/') 杨青
                    |（不知道这是不是你的真实名字），原创建议在此基础上改成自己的东西，由于本人在这方面才疏学浅，
                    | 改进的过程可能会比较漫长,希望能够理解。
block content-aside
    aside
        div.avatar
            a(href='/about.html')
                span 关于我
        div.topspaceinfo
            h1 没什么可写的
            p 感谢于千万人之中，遇见了我所遇见的人....
        div.about_c
            p 名字：Carlis
            p 职业：项目经理、软件工程师
            p 邮箱：carlisliu@qq.com