extends layout
append css
    link(rel='stylesheet', href='/stylesheets/index.css')
    link(rel='stylesheet', href='/stylesheets/pagination.css')
block content-article
    article
        div.bloglist
            h2
                p
            div.blogs
                h3
                    a(href='/') title
                figure
                    img(src='images/01.jpg')
                ul
                    p 最好的生活是用心甘情愿的态度，过随遇而安的生活。最好的生活是用心甘情愿的态度，过随遇而安的生活。最好的生活是用心甘情愿的态度，过随遇而安的生活。
                    | 最好的生活是用心甘情愿的态度，过随遇而安的生活。最好的生活是用心甘情愿的态度，过随遇而安的生活。最好的生活是用心甘情愿的态度，过随遇而安的生活。
                    | 最好的生活是用心甘情愿的态度，过随遇而安的生活。最好的生活是用心甘情愿的态度，过随遇而安的生活。最好的生活是用心甘情愿的态度，过随遇而安的生活。
                    a(href='/' target="_blank" class="readmore") 阅读全文&gt;&gt;
                p.autor
                    span 作者：lym
                    span 分类：【
                        a(href='/') 日记
                        | 】
                    span 浏览(
                        a(href='/') 459
                        | )
                    span 评论(
                        a(href='/') 30
                        | )
                div.dateview 2015-03-28
            div.blogs
                h3
                    a(href='/') title
                figure
                    img(src='images/01.jpg')
                ul
                    p 最好的生活是用心甘情愿的态度，过随遇而安的生活。
                    a(href='/' target="_blank" class="readmore") 阅读全文&gt;&gt;
                p.autor
                    span 作者：lym
                    span 分类：【
                        a(href='/') 日记
                        | 】
                    span 浏览(
                        a(href='/') 459
                        | )
                    span 评论(
                        a(href='/') 30
                        | )
                div.dateview 2015-03-28
            div.blogs
                h3
                    a(href='/') title
                figure
                    img(src='images/01.jpg')
                ul
                    p 最好的生活是用心甘情愿的态度，过随遇而安的生活。
                    a(href='/' target="_blank" class="readmore") 阅读全文&gt;&gt;
                p.autor
                    span 作者：lym
                    span 分类：【
                        a(href='/') 日记
                        | 】
                    span 浏览(
                        a(href='/') 459
                        | )
                    span 评论(
                        a(href='/') 30
                        | )
                div.dateview 2015-03-28
            div.blogs
                h3
                    a(href='/') title
                figure
                    img(src='images/01.jpg')
                ul
                    p 最好的生活是用心甘情愿的态度，过随遇而安的生活。
                    a(href='/' target="_blank" class="readmore") 阅读全文&gt;&gt;
                p.autor
                    span 作者：lym
                    span 分类：【
                        a(href='/') 日记
                        | 】
                    span 浏览(
                        a(href='/') 459
                        | )
                    span 评论(
                        a(href='/') 30
                        | )
                div.dateview 2015-03-28
        div.page(style="margin-bottom: 10px;")
            a(title='文章总数')
                b 83
            b 1
            a(href='/') 2
            a(href='/') 3
            a(href='/') 4
            a(href='/') >
            a(href='/') >>
        div
block content-aside
    include side.jade