//
   Created by Carlis on 4/6/15.
doctype html
html
    head
        title= title
        meta(charset='utf-8')
        meta(name='keywords', content="刘雨萌,刘雨萌的博客,Carlis,Carlis个人博客,个人博客,博客")
        meta(name='description', content="Carlis个人博客")
        meta(name='viewport', content="width=device-width, minimum-scale=1.0, maximum-scale=1.0")
        block css
            link(rel='stylesheet', href='/stylesheets/birthday.css', type='text/css')
    body
        div.cake
            div.velas
                div.fuego
                div.fuego
                div.fuego
                div.fuego
                div.fuego
            div.cobertura
            div.bizcocho
            h1(onclick='show(this);')
        script.
            window.onload = function(){
                document.getElementsByTagName('h1')[0].click();
            };
            var show = function(_this){
                var __this;
                return function(_this){
                    _this = __this || (__this = _this);
                    if (_this.firing) {
                        return false;
                    }
                    if (_this.done) {
                        _this.done++;
                        if (_this.done > 2 ) {
                            _this.thirty && setTimeout(function(){
                                _this.innerHTML = '<img src="/images/laugh.gif" />';
                                _this.onclick = null;
                            }, 1500);
                            return false;
                        }
                        _this.innerHTML = '你';
                        setTimeout(function(){
                            _this.innerHTML = '30啦!<img src="/images/laugh.gif" />';
                            _this.thirty = true;
                        }, 1000);
                        return false;
                    }
                    var getText = function(){
                        var text = decodeURIComponent('#{name}');
                        text = ('Happy birthday to ' + text + '!').split(''), html = '';
                        return function(){
                            if( text && text.length) {
                                var curr = text.shift();
                                html += curr;
                                if (curr == ' ') {
                                    html += text.shift();
                                }
                                return html;
                            }
                            return false;
                        };
                    }();
                    function showText(){
                        var text = getText();
                        if (text) {
                            _this.innerHTML = text;
                            setTimeout(function(){
                                showText();
                            }, 500);
                        } else {
                            _this.firing = false;
                            _this.innerHTML = _this.innerHTML + '猛戳这里';
                            _this.done = 1;
                        }
                    }
                    _this.firing = true;
                    showText();
                };
            }();