extends layout
append css
    link(rel='stylesheet', href='/stylesheets/index.css', type='text/css')
block content-article
    article
        div
            h2
                p Nothing here yet.
block content-aside
        include side.jade