<!DOCTYPE html>
<html lang="en">
    <head>
        <title><%= title || 'Home'%></title>
        <link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />
    </head>
    <body>
        <h1>Welcome</h1>
        <p><%= title%></p>
    </body>
</html>