extends layout
    append css
        link(rel='stylesheet', href='/stylesheets/index.css')
    block content-article
        article
            div.banner
                ul.texts
                    p The best life is use of willing attitude, a happy-go-lucky life.
                    p 最好的生活是用心甘情愿的态度，过随遇而安的生活。
            div.bloglist
                h2
                    p
                        span 推荐
                        | 文章
                div.blogs
                    h3
                        a(href='/') 犯错了怎么办？
                    figure
                        img(src='images/01.jpg')
                    ul
                        p 看到昔日好友发了一篇日志《咎由自取》他说他是一个悲观者，感觉社会抛弃了他，脾气、性格在6年的时间里变化很大，很难适应这个社会。人生其实就是不断犯错的过程，在这个过程中不断的犯错，不断的吸取教训，不断的成长。也许日子里的惊涛骇浪，不过是人生中的水花摇晃，别用显微镜放大你的悲伤。
                        a(href='/' target="_blank" class="readmore") 阅读全文&gt;&gt;
                    p.autor
                        span 作者：杨青
                        span 分类：【
                            a(href='/') 日记
                            | 】
                        span 浏览(
                            a(href='/') 459
                            | )
                        span 评论(
                            a(href='/') 30
                            | )
                    div.dateview
                        2014-04-08
                div.blogs
                    h3
                        a(href='/') 个人博客模板（2014草根寻梦）
                    figure
                        img(src='images/02.jpg')
                    ul
                        p 2014第一版《草根寻梦》个人博客模板简单、优雅、稳重、大气、低调。专为年轻有志向却又低调的草根站长设计。模板采用html5+css3设计，nav导航实现鼠标悬停渐变显示英文标题的效果。banner部分，选择大图作为背景，利用css3中animation属性结合文字图片实现文字从左到右的渐变效果
                        a(href='/' target="_blank" class="readmore") 阅读全文&gt;&gt;
                    p.autor
                        span 作者：杨青
                        span 分类：【
                            a(href='/') 日记
                            | 】
                        span 浏览(
                            a(href='/') 459
                            | )
                        span 评论(
                            a(href='/') 30
                            | )
                    div.dateview
                        2014-04-08
                div.blogs
                    h3
                        a(href='/') 我的个人博客之――阿里云空间选择
                    figure
                        img(src='images/03.jpg')
                    ul
                        p 之前服务器放在电信机房， 联通用户访问速度很不稳定，经常出现访问速度慢的问题，换到阿里云解决了之前的问题。很多人都问我的博客选得什么空间，一年的费用得多少钱，今天我列个表出来，供大家参考。
                        a(href='/' target="_blank" class="readmore") 阅读全文&gt;&gt;
                    p.autor
                        span 作者：杨青
                        span 分类：【
                            a(href='/') 日记
                            | 】
                        span 浏览(
                            a(href='/') 459
                            | )
                        span 评论(
                            a(href='/') 30
                            | )
                    div.dateview
                        2014-04-08
                div.blogs
                    h3
                        a(href='/') 犯错了怎么办？
                    figure
                        img(src='images/04.jpg')
                    ul
                        p 看到昔日好友发了一篇日志《咎由自取》他说他是一个悲观者，感觉社会抛弃了他，脾气、性格在6年的时间里变化很大，很难适应这个社会。人生其实就是不断犯错的过程，在这个过程中不断的犯错，不断的吸取教训，不断的成长。也许日子里的惊涛骇浪，不过是人生中的水花摇晃，别用显微镜放大你的悲伤。
                        a(href='/' target="_blank" class="readmore") 阅读全文&gt;&gt;
                    p.autor
                        span 作者：杨青
                        span 分类：【
                            a(href='/') 日记
                            | 】
                        span 浏览(
                            a(href='/') 459
                            | )
                        span 评论(
                            a(href='/') 30
                            | )
                    div.dateview
                        2014-04-08
                div.blogs
                    h3
                        a(href='/') 犯错了怎么办？
                    figure
                        img(src='images/04.jpg')
                    ul
                        p 看到昔日好友发了一篇日志《咎由自取》他说他是一个悲观者，感觉社会抛弃了他，脾气、性格在6年的时间里变化很大，很难适应这个社会。人生其实就是不断犯错的过程，在这个过程中不断的犯错，不断的吸取教训，不断的成长。也许日子里的惊涛骇浪，不过是人生中的水花摇晃，别用显微镜放大你的悲伤。
                        a(href='/' target="_blank" class="readmore") 阅读全文&gt;&gt;
                    p.autor
                        span 作者：杨青
                        span 分类：【
                            a(href='/') 日记
                            | 】
                        span 浏览(
                            a(href='/') 459
                            | )
                        span 评论(
                            a(href='/') 30
                            | )
                    div.dateview
                        2014-04-08
    block content-aside
        aside
            div.avatar
                a(href='/')
                    span 关于我
            div.topspaceinfo
                h1= '执子之手，与子偕老'
                p 于千万人之中，我遇见了我所遇见的人....
            div.about_c
                p 网名：DanceSmile | 即步非烟
                p 职业：Web前端设计师、网页设计
                p 籍贯：四川省―成都市
                p 电话：13662012345
                p 邮箱：dancesmiling@qq.com
            div.bdsharebuttonbox
                a(href='#' class='bds_qzone' data-cmd='qzone' title='分享到QQ空间')
                a(href='#' class='bds_tsina' data-cmd='tsina' title='分享到新浪微博')
                a(href='#' class='bds_tqq' data-cmd='tqq' title='分享到腾讯微博')
                a(href='#' class='bds_renren' data-cmd='renren' title='分享到人人网')
                a(href='#' class='bds_weixin' data-cmd='weixin' title='分享到微信')
                a(href='#' class='bds_more' data-cmd='more')
            div.tj_news
                h2
                    p.tj_t1 最新文章
                ul
                    li
                        a(href='#') 犯错了怎么办？
                    li
                        a(href='#') 两只蜗牛艰难又浪漫的一吻
                    li
                        a(href='#') 春暖花开-走走停停-发现美
                    li
                        a(href='#') 琰智国际-Nativ for Life官方网站
                    li
                        a(href='#') 个人博客模板（2014草根寻梦）
                    li
                        a(href='#') 简单手工纸玫瑰
                    li
                        a(href='#') 响应式个人博客模板（蓝色清新）
                    li
                        a(href='#') 蓝色政府（卫生计划生育局）网站
                h2
                    p.tj_t2 推荐文章
                ul
                    li
                        a(href='#') 犯错了怎么办？
                    li
                        a(href='#') 两只蜗牛艰难又浪漫的一吻
                    li
                        a(href='#') 春暖花开-走走停停-发现美
                    li
                        a(href='#') 琰智国际-Nativ for Life官方网站
                    li
                        a(href='#') 个人博客模板（2014草根寻梦）
                    li
                        a(href='#') 简单手工纸玫瑰
                    li
                        a(href='#') 响应式个人博客模板（蓝色清新）
                    li
                        a(href='#') 蓝色政府（卫生计划生育局）网站
            div.links
                h2
                    p 友情链接
                ul
                    li
                        a(href='#') 杨青个人博客
                    li
                        a(href='#') 3DST技术社区
            div.copyright
                ul
                    p Design by
                        a(href='#') DanceSmile
                    p 蜀ICP备11002373号-1