doctype html
html
    head
        title= title
        meta(charset='utf-8')
        meta(name='keywords', content="刘雨萌,刘雨萌的博客,Carlis,Carlis个人博客,个人博客,博客")
        meta(name='description', content="Carlis个人博客")
        meta(name='viewport', content="width=device-width, minimum-scale=1.0, maximum-scale=1.0")
        block css
            link(rel='stylesheet', href='/stylesheets/base.css')
            link(rel='stylesheet', href='/stylesheets/media.css')
        <!--[if lt IE 9]>
        script.
            (function(){
                window.location.href = '/upgrade-browser';
            })();
        <![endif]-->
        script(src='/javascripts/sea-modules/seajs/seajs/3.0.0/sea.js')
        script.
            (function(golbal, undefined){
                seajs.config({
                    base: '/javascripts/',
                    alias: {
                        'jquery': 'sea-modules/jquery/jquery/1.10.1/jquery.js'
                    }
                });
                golbal.seajs = seajs;
            })(window);
    body
        div.ibody
            header
                h1= 'Carlis Liu'
                h2= '机会是留给有准备的人....'
                div.logo
                    a(href='/')
                nav#topnav
                    a(href='/') 首页
                    a(href='/articles.html') 文章
                    a(href='/share.html') 分享
                    a(href='/code.html') 代码
                    a(href='/about.html') 关于我
            block content-article
            block content-aside
            block content
            div.clear
        script.
            (function () {
                var menus = document.getElementById('topnav').getElementsByTagName('a'), curr, length = menus.length || 0, i = 0;
                for (; i < length; i++) {
                    if (window.location.href.indexOf(menus[i].href) > -1 || (window.location.href + '.html').indexOf(menus[i].href) > -1) {
                        curr = menus[i];
                    }
                }
                curr && (curr.id = 'topnav_current');
            })();
            (function(){
                // baidu share
                window._bd_share_config={"common":{"bdSnsKey":{},"bdText":"","bdMini":"1","bdMiniList":false,"bdPic":"","bdStyle":"1","bdSize":"32"},"share":{}};with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion='+~(-new Date()/36e5)];
            })();
        block script-content