aside
    div.avatar
        a(href='/about.html')
            span 关于我
    div.topspaceinfo

    div.about_c
        p 名字：#{me.zh.alias || 'Carlis'}
        p 职业：#{me.zh.occupation || '项目经理、软件工程师'}
        p 邮箱：#{me.zh['carlisliu@qq.com'] || 'carlisliu@qq.com'}
    div.bdsharebuttonbox
        a(href='#' class='bds_qzone' data-cmd='qzone' title='分享到QQ空间')
        a(href='#' class='bds_tsina' data-cmd='tsina' title='分享到新浪微博')
        a(href='#' class='bds_tqq' data-cmd='tqq' title='分享到腾讯微博')
        a(href='#' class='bds_renren' data-cmd='renren' title='分享到人人网')
        a(href='#' class='bds_weixin' data-cmd='weixin' title='分享到微信')
        a(href='#' class='bds_more' data-cmd='more')
    div.tj_news
        h2
            p.tj_t1 最新文章
        ul(id='article-latest')
            li
                a(href='#') 无
        h2
            p.tj_t2 推荐文章
        ul(id='article-recommend')
            li
                a(href='#') 无
    div.links
        h2
            p 友情链接
        ul
            li
                a(href='http://www.yangqq.com/', target='_blank') 杨青个人博客
    div.copyright
        ul
            p Designby&nbsp;
                a(href='http://www.yangqq.com/', target='_blank') DanceSmile
block content-aside
    script.
        (function(){
            seajs.use('static/article/event');
            seajs.use('static/tag/event');
        })();