aside
    div.avatar
        a(href='/about.html')
            span 关于我
    div.topspaceinfo
        h1= '执子之手，与子偕老'
        p 于千万人之中，我遇见了我所遇见的人....
    div.about_c
        p 名字：Carlis
        p 职业：项目经理、软件工程师
        p 邮箱：carlisliu@qq.com
    div.bdsharebuttonbox
        a(href='#' class='bds_qzone' data-cmd='qzone' title='分享到QQ空间')
        a(href='#' class='bds_tsina' data-cmd='tsina' title='分享到新浪微博')
        a(href='#' class='bds_tqq' data-cmd='tqq' title='分享到腾讯微博')
        a(href='#' class='bds_renren' data-cmd='renren' title='分享到人人网')
        a(href='#' class='bds_weixin' data-cmd='weixin' title='分享到微信')
        a(href='#' class='bds_more' data-cmd='more')
    div.tj_news
        h2
            p.tj_t1 最新文章
        ul
            li
                a(href='#') 犯错了怎么办？
            li
                a(href='#') 两只蜗牛艰难又浪漫的一吻
            li
                a(href='#') 春暖花开-走走停停-发现美
            li
                a(href='#') 琰智国际-Nativ for Life官方网站
            li
                a(href='#') 个人博客模板（2014草根寻梦）
            li
                a(href='#') 简单手工纸玫瑰
            li
                a(href='#') 响应式个人博客模板（蓝色清新）
            li
                a(href='#') 蓝色政府（卫生计划生育局）网站
        h2
            p.tj_t2 推荐文章
        ul
            li
                a(href='#') 犯错了怎么办？
            li
                a(href='#') 两只蜗牛艰难又浪漫的一吻
            li
                a(href='#') 春暖花开-走走停停-发现美
            li
                a(href='#') 琰智国际-Nativ for Life官方网站
            li
                a(href='#') 个人博客模板（2014草根寻梦）
            li
                a(href='#') 简单手工纸玫瑰
            li
                a(href='#') 响应式个人博客模板（蓝色清新）
            li
                a(href='#') 蓝色政府（卫生计划生育局）网站
    div.links
        h2
            p 友情链接
        ul
            li
                a(href='#') 杨青个人博客
            li
                a(href='#') 3DST技术社区
    div.copyright
        ul
            p Design by
                a(href='#') DanceSmile
            p 蜀ICP备11002373号-1