<!DOCTYPE html>
<html>
<head>
    <title></title>
    <style>

    </style>
</head>
<body>
<div class="index_about">
    <h2 class="c_titile">【活动】给我模板PSD源文件，我给你设计HTML！</h2>
    <p class="box_c"><span class="d_time">发布时间：2015-02-25</span><span>编辑：<a href="mailto:dancesmiling@qq.com">杨青</a></span><span>阅读（<script src="/e/public/ViewClick/?classid=28&amp;id=745&amp;addclick=1"></script>3546）</span></p>
    <ul class="infos">
        <p>参加条件：只要你有PSD模板（原创）即可参与<span id="3_nwp" style="width: auto; height: auto; float: none;"><a id="3_nwl" href="http://cpro.baidu.com/cpro/ui/uijs.php?c=news&amp;cf=1001&amp;ch=0&amp;di=128&amp;fv=13&amp;jk=e09186a1cd4bdd23&amp;k=%C6%C0%D1%A1%BB%EE%B6%AF&amp;k0=%C6%C0%D1%A1%BB%EE%B6%AF&amp;kdi0=0&amp;luki=3&amp;n=10&amp;p=baidu&amp;q=solidedge_cpr&amp;rb=0&amp;rs=1&amp;seller_id=1&amp;sid=23dd4bcda18691e0&amp;ssp2=1&amp;stid=0&amp;t=tpclicked3_hc&amp;tu=u1831141&amp;u=http%3A%2F%2Fwww%2Eyangqq%2Ecom%2Fjstt%2Fweb%2F2015%2D02%2D25%2F745%2Ehtml&amp;urlid=0" target="_blank" mpid="3" style="text-decoration: none;"><span style="color:#0000ff;font-size:14px;width:auto;height:auto;float:none;">评选活动</span></a></span></p>
        <p>活动内容：集思广益，各位爱好设计的小伙伴们，拿出你们最得意的作品，曾经设计过的，或者正在设计中的PSD源文件，并且愿意参加本活动，本站将评选出前三名优秀的博客设计模板，免费写出相应的Html页面！</p>
        <p>活动时间：截止时间为2015年3月31日</p>
        <p>参与步骤：只要在有限活动时间内，打包你的PSD<span id="2_nwp" style="width: auto; height: auto; float: none;"><a id="2_nwl" href="http://cpro.baidu.com/cpro/ui/uijs.php?c=news&amp;cf=1001&amp;ch=0&amp;di=128&amp;fv=13&amp;jk=e09186a1cd4bdd23&amp;k=%C9%E8%BC%C6%CD%BC&amp;k0=%C9%E8%BC%C6%CD%BC&amp;kdi0=0&amp;luki=2&amp;n=10&amp;p=baidu&amp;q=solidedge_cpr&amp;rb=0&amp;rs=1&amp;seller_id=1&amp;sid=23dd4bcda18691e0&amp;ssp2=1&amp;stid=0&amp;t=tpclicked3_hc&amp;tu=u1831141&amp;u=http%3A%2F%2Fwww%2Eyangqq%2Ecom%2Fjstt%2Fweb%2F2015%2D02%2D25%2F745%2Ehtml&amp;urlid=0" target="_blank" mpid="2" style="text-decoration: none;"><span style="color:#0000ff;font-size:14px;width:auto;height:auto;float:none;">设计图</span></a></span>，（有详细的设计思路更好）投稿到邮箱 dancesmiling@qq.com 即可！&nbsp;</p>
        <p>本站声明：</p>
        <p>1、此次活动解释权归本站所有</p>
        <p>2、请保证<span id="1_nwp" style="width: auto; height: auto; float: none;"><a id="1_nwl" href="http://cpro.baidu.com/cpro/ui/uijs.php?c=news&amp;cf=1001&amp;ch=0&amp;di=128&amp;fv=13&amp;jk=e09186a1cd4bdd23&amp;k=%D4%AD%B4%B4%D7%F7%C6%B7&amp;k0=%D4%AD%B4%B4%D7%F7%C6%B7&amp;kdi0=0&amp;luki=1&amp;n=10&amp;p=baidu&amp;q=solidedge_cpr&amp;rb=0&amp;rs=1&amp;seller_id=1&amp;sid=23dd4bcda18691e0&amp;ssp2=1&amp;stid=0&amp;t=tpclicked3_hc&amp;tu=u1831141&amp;u=http%3A%2F%2Fwww%2Eyangqq%2Ecom%2Fjstt%2Fweb%2F2015%2D02%2D25%2F745%2Ehtml&amp;urlid=0" target="_blank" mpid="1" style="text-decoration: none;"><span style="color:#0000ff;font-size:14px;width:auto;height:auto;float:none;">原创作品</span></a></span></p>
        <p>3、评选出的优秀psd，设计出的html模板将会在本站提供展示！均保留原创设计者的版权</p>
        <p><img src="/d/file/download/div/2015-02-25/3e875f3fee27482ab6e30a72fa4592a8.jpg" alt="12855755816136.jpg" width="510" height="348"></p><p align="center" class="pageLink"></p>
        <iframe id="mood_frame" width="510" height="200" src="/e/extend/mood/?classid=28&amp;id=745" marginwidth="0" marginheight="0" frameborder="0" scrolling="no"></iframe>
    </ul>
    <div class="keybq">
        <p><span>关键字词</span>：模板,<span id="0_nwp" style="width: auto; height: auto; float: none;"><a id="0_nwl" href="http://cpro.baidu.com/cpro/ui/uijs.php?c=news&amp;cf=1001&amp;ch=0&amp;di=128&amp;fv=13&amp;jk=e09186a1cd4bdd23&amp;k=%C9%E8%BC%C6&amp;k0=%C9%E8%BC%C6&amp;kdi0=0&amp;luki=4&amp;n=10&amp;p=baidu&amp;q=solidedge_cpr&amp;rb=0&amp;rs=1&amp;seller_id=1&amp;sid=23dd4bcda18691e0&amp;ssp2=1&amp;stid=0&amp;t=tpclicked3_hc&amp;tu=u1831141&amp;u=http%3A%2F%2Fwww%2Eyangqq%2Ecom%2Fjstt%2Fweb%2F2015%2D02%2D25%2F745%2Ehtml&amp;urlid=0" target="_blank" mpid="0" style="text-decoration: none;"><span style="color:#0000ff;font-size:12px;width:auto;height:auto;float:none;">设计</span></a></span>,PSD</p>
    </div>

    <div class="nextinfo">
        <p>上一篇：<a href="/jstt/web/2015-01-01/739.html"> 2014年度优秀个人博客排名公布</a></p>
        <p>下一篇：<a href="/jstt/web/">返回列表</a></p>
    </div>
    <div class="otherlink">
        <h2>相关文章</h2>
        <ul>
            <li><a href="/jstt/bj/2015-02-14/744.html" title="【郑重申明】本站只提供静态模板下载！">【郑重申明】本站只提供静态模板下载！</a></li><li><a href="/download/newsfree/2015-02-01/743.html" title="企业单页宣传模板">企业单页宣传模板</a></li><li><a href="/download/div/2014-09-18/730.html" title="情侣博客模板系列之《回忆》Html">情侣博客模板系列之《回忆》Html</a></li><li><a href="/download/div/2014-08-18/727.html" title="情侣博客模板系列之《回忆》PSD">情侣博客模板系列之《回忆》PSD</a></li><li><a href="/download/div/2014-08-11/726.html" title="情侣博客模板系列之《初夏》Html">情侣博客模板系列之《初夏》Html</a></li><li><a href="/download/div/2014-06-13/689.html" title="个人博客模板《世界杯来袭》">个人博客模板《世界杯来袭》</a></li><li><a href="/download/div/2014-06-11/688.html" title="情侣博客模板系列之《初夏》PSD">情侣博客模板系列之《初夏》PSD</a></li><li><a href="/download/free/2014-05-30/686.html" title="简单三栏横向htm5网站模板（杂草丛生）">简单三栏横向htm5网站模板（杂草丛生）</a></li><li><a href="/download/free/2014-05-30/685.html" title="HTML5摄影主题模板">HTML5摄影主题模板</a></li><li><a href="/download/free/2014-05-30/684.html" title="蓝色机构企业网站模板">蓝色机构企业网站模板</a></li>      </ul>
    </div>
    <div class="blank"></div>

</body>
</html>