doctype html
html
    head
        title='浏览器升级'
        meta(charset='utf-8')
        meta(name='keywords', content="刘雨萌,刘雨萌的博客,Carlis,Carlis个人博客,个人博客,博客")
        style.
            div {
                padding : 100px 0 0 100px;
            }
            a {
                text-decoration : none;
                margin-right : 20px;
            }
        meta(name='description', content="Carlis个人博客")
        meta(name='viewport', content="width=device-width, minimum-scale=1.0, maximum-scale=1.0")
    body
        div
            h1 Please update your browser
            a(href="http://www.baidu.com/baidu?w=google%20chrome%20download") Google Chrome
            a(href="http://www.baidu.com/baidu?w=firefox%20download") Firefox